@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600;700&family=Gentium+Book+Basic:ital@1&family=Mukta:wght@500&display=swap');


.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    margin-bottom: 30px;
}

.header a {
    float: left;
    color: black;

    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right a {
    color: #4682b4;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

  .header-right {
    float: right;

  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    padding: 20px;
    margin-top: 22px;
}

.container h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 69px;

    font-family: 'Fira Code', monospace;
    font-family: 'Gentium Book Basic', serif;
    font-family: 'Mukta', sans-serif;
    margin-bottom: 0;
    color:#111d27;

    animation: slideY 4s;
}

.container h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 59px;

    color: #4682b4;
    margin-top: 0;


    font-family: 'Fira Code', monospace;
    font-family: 'Gentium Book Basic', serif;
    font-family: 'Mukta', sans-serif;

}

.container p {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;

    padding: 30px;
    color:#111d27;

    margin-top: 30px;
    font-weight: normal;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    padding: 10px;
    margin-top: 22px;
}

.sobre h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 39px;
    
    padding: 3px;


    font-family: 'Fira Code', monospace;
    font-family: 'Gentium Book Basic', serif;
    font-family: 'Mukta', sans-serif;

}

.sobre p {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 20px;
    color:#111d27;

    font-family: 'Mukta', sans-serif;



    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #fff;
    margin: 0;

}

.app {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.card-global {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 22px;
    border-radius: 10px;


}

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 250px;

    align-items: center;
    text-align: center;

    font-family: 'Fira Code', monospace;
    font-family: 'Gentium Book Basic', serif;
    font-family: 'Mukta', sans-serif;
}

  .card-header img {
      
    width: 100%;
    height: 200px;
    object-fit: cover;

    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50%;
    border-radius: 10px;
  }

  .card-body p {
    font-size: 15px;
    margin: 0 0 40px;


  }

  .content-table {
    padding: 20px;
  }

  .content-table h2 {
      padding: 20px;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;


      font-family: 'Fira Code', monospace;
      font-family: 'Gentium Book Basic', serif;
      font-family: 'Mukta', sans-serif;
  
      color:#111d27;

    font-size: 47px;


  }

  .card-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 480px;
    height: 140px;


  }

  .card-body-table h4 {
    margin-bottom: 12px;
  }

  .card-body-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 250px;

    align-items: center;
    text-align: center
}

    .card-body-table h4 {
        font-size: 18px;
        color: #4682b4;
    }

    .card-body-table p {
        font-family: 'Fira Code', monospace;
        font-family: 'Gentium Book Basic', serif;
        font-family: 'Mukta', sans-serif;
    }

    .card-body-table button {
        appearance: button;
        backface-visibility: hidden;
        background-color: #405cf5;
        border-radius: 6px;
        border-width: 0;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
        font-size: 80%;
        height: 28px;
        line-height: 1.15;
        margin: 12px 0 0;
        outline: none;
        overflow: hidden;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-transform: none;
        transform: translateZ(0);
        transition: all .2s,box-shadow .08s ease-in;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 120px;
       
    }

    .card-body-table button:disabled {
        cursor: default;
    }

    .card-body-table button:focus {
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    }

    content-final {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-bottom: 12px;
    }

    .content-final h3 {
        font-family: 'Fira Code', monospace;
        font-family: 'Gentium Book Basic', serif;
        font-family: 'Mukta', sans-serif;

        color: #bf0a82;

        margin-bottom: 22px;
    }

    .text-center {
        text-align: center;
      }

      footer {
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        padding: 10px;

        font-family: 'Fira Code', monospace;
        font-family: 'Gentium Book Basic', serif;
        font-family: 'Mukta', sans-serif;
      }

      footer .socials {
        display: flex;
        align-items: center;
        justify-content: center;
       
      }

      footer .socials a {
        margin: 0 5px;
      }

      @keyframes slideY {
        from {
            transform: translateY(90px)
        }
        to {
            transform: translateY(0px)
    
        }
    }